{% extends 'prueba1/base.html' %}

{% block title%}Inicio{% endblock title %}

{% block content %}

<h1 class="display-3">Algoritmos de Clasificacion</h1>
<p>Algoritmo KNN:</p>
<p>El algoritmo de k vecinos más cercanos, también conocido como KNN o k-NN, es un clasificador de aprendizaje
  supervisado no
  paramétrico, que utiliza la proximidad para hacer clasificaciones o predicciones sobre la agrupación de un punto de
  datos
  individual. Si bien se puede usar para problemas de regresión o clasificación, generalmente se usa como un algoritmo
  de
  clasificación, partiendo de la suposición de que se pueden encontrar puntos similares cerca uno del otro.


  Para los problemas de clasificación, se asigna una etiqueta de clase sobre la base de un voto mayoritario, es decir,
  se
  utiliza la etiqueta que se representa con más frecuencia alrededor de un punto de datos determinado. Si bien esto
  técnicamente
  se considera "voto por mayoría", el término "voto por mayoría" se usa más comúnmente en la literatura. La distinción
  entre estas
  terminologías es que "voto mayoritario" técnicamente requiere una mayoría superior al 50 %, lo que funciona
  principalmente
  cuando solo hay dos categorías. Cuando tiene varias clases, por ejemplo, cuatro categorías, no necesita necesariamente
  el 50 %
  de los votos para llegar a una conclusión sobre una clase; puede asignar una etiqueta de clase con un voto superior al
  25 %. </p>
<img src="knn.jpg" width="300" height="150">
<p></p>
<p>Algoritmo bayesiano ingenuo</p>
<p>En teoría de la probabilidad y minería de datos, un clasificador Naive Bayes es un clasificador probabilístico
  fundamentado en el teorema de Bayes y algunas hipótesis simplificadoras adicionales. Es a causa de estas
  simplificaciones,
  que se suelen resumir en la hipótesis de independencia entre las variables predictoras, que recibe el apelativo de
  naive,
  es decir, ingenuo.</p>
<img src="bayes.jpg" width="300" height="150">
<p></p>
<p>Algoritmo bayesiano ingenuo</p>
<p>La regresión logística es un método estadístico conocido que se usa para determinar la contribución de varios
  factores a
  un par de resultados. La implementación de Microsoft usa una red neuronal modificada para modelar las relaciones entre
  las entradas y los resultados. Se mide el efecto de cada entrada en el resultado y se ponderan las diversas entradas
  en
  el modelo acabado. El nombre regresión logística procede del hecho de que la curva de los datos se comprime mediante
  una transformación logística para minimizar el efecto de los valores extremos.</p>
<img src="regresion_logistica.png" width="300" height="150">
{% endblock %}